.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    padding: 20px;
    background-color: var(--inverted-bg-color);
    transition: width 0.2s ease;
}

.lang {
    color: var(--inverted-secondary-color);
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.switchers {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.sidebarToggleButton {
    color: var(--inverted-secondary-color);
}
