.app.dark,
body.dark {
    --bg-color: #353535;
    --inverted-bg-color: #eee;
    --primary-color: #fff;
    --secondary-color: #e2e2e2;
    --inverted-primary-color: #000;
    --inverted-secondary-color: #383838;
}
