:root,
.app.light,
body.light {
    --bg-color: #eee;
    --inverted-bg-color: #353535;
    --primary-color: #000;
    --secondary-color: #383838;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #e2e2e2;
}
