.navbar {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.links {
    display: flex;
    gap: 15px;
}
